body{
    background-color: black;
    font-family:Roboto, sans-serif;
    width: 1920px;
    height: 1280px;
}








/* Propriétés du haut de la page et; espacement entre les deux blocs*/
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
/* Propriétés Titre H1*/
.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
/*taille de Police et couleur de la; NavBar ;du Paragraphe et ;du spacebox with opacithy */
.tlink,
.klink,
.cholder {
    font-size: 18px;
    color: #e5e7eb;
}
/* Propriétés du logo */
.hlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
/* Propriétés du bouton Signup */
button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 5px;
    border-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
/* Création du box avec opacité du spacebox white with opacity */
.cholder{
    background-color: #e5e7eb80;
    padding: 110px;
}
/* Espacement gauche du premier bloc (logo; titre; paragraphe et bouton) */
.blade{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 100px;
    padding-top: 30px;
}
/* Alignements du second bloc (NavBar et box avec opacité) */
.link{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 100px;
    padding-top: 30px;
    
}
/* Espacements de la NavBar */
.tlink{
    display: flex;
    gap: 30px;
}





.sectone{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.inftext{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.squarone,
.squartwo,
.squarthree,
.squarfour{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border: 3px solid;
    border-color: #3882f6;
    border-radius: 20px;
}

.subsquare{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.subone,
.subtwo,
.subthree,
.subfour{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inftext{
    padding-top: 50px;
}

.subsquare{
    padding-bottom: 50px;
}







.secttwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote{
    padding-top: 70px;
}

.thor{
    padding-left: 500px;
    padding-bottom: 70px;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}





.sectthree{
    background-color: aliceblue;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.callction{
    font-size: 19px;
    font-weight: 900;
}

.blubox{
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 10px;
}

.buttwo{
    border: 2px solid;
    border-color: #f9faf8;
}







footer{
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}